@font-face {
    font-family: "GothamBold";
    src: url("../font/Gotham-Bold_21010.ttf");
}

@font-face {
    font-family: "GothamNorm";
    src: url("../font/Gotham-Rounded-Light_21020.ttf");
}

h1, h2, h3 {
    font-family: GothamBold, sans-serif;
}

h4 {
    font-family: GothamNorm, sans-serif;
}

button {
    width: 100%;
}

html, body {
    text-align: center;
}

.column, .columns {
    text-align: center;
    width: 100%;
}

input[type="file"] {
    display: none;
}

.normFont {
    font-family: GothamNorm, sans-serif;
}

.file-upload {
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    cursor: pointer;
}

.file-upload:hover, .file-upload:focus {
    color: #333;
    border-color: #888;
    outline: 0;
}